<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BodyScan</title>
    <script src="{{static_url('js/jquery-3.3.1.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('css/bootstrap.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('css/bootstrap-theme.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('css/super.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('css/pagination.css')}}" type="text/css" />

    <script src="{{static_url('js/bootstrap.js')}}"></script>
    <script src="{{static_url('js/super.js')}}"></script>
    <script type="text/javascript" src="{{static_url('common/js/template.js')}}"></script>
</head>
<body>
<div class="body-container">
    <div class="body-left">
        <ul class="nav common-left-nav">
            <li class="data">
                <span>
                    <img src="../../static/images/data-manager.png">数据</img>
                </span>
                <a class="active" href="/super?action=manage_data">数据管理</a>
                <!--<a class="">数据统计</a>-->
            </li>
            <li class="people">
                <span>
                    <img src="../../static/images/people-manager.png">人员管理</img>
                </span>
                <a href="/super?action=manage_admin">管理员</a>
                <a href="/super?action=manager_operator">操作员</a>
            </li>
            <!--<li class="set">-->
                <!--<span>-->
                    <!--<img src="../../static/images/ic_setup.png">设置</img>-->
                <!--</span>-->
                <!--<a>店铺设置</a>-->
                <!--<a class="">公众号设置</a>-->
                <!--<a>微信小程序</a> -->
            <!--</li>-->
        </ul>
    </div>
    <div class="body-right">
        {% block main %}{% end %}
    </div>
</div>
</body>
</html>