{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{static_url('css/admin.css')}}" type="text/css" />
<script type="text/javascript" src="{{static_url('common/js/jquery-fastclick-lazyload-template.js')}}"></script>
<script src="{{static_url('js/admin.js')}}"></script>
{% end %}
{% block div %}
<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li><a href="/admin" class="breadcrumb-back">首页</a></li>
        <li><text>新建数据</text></li>
    </ol>
</div>
<div class="form-div" id="form-div">
    <form class="data-form">
        <div class="form-float">
            <div class="form-group">
                <label for="Input1">测量对象</label>
                <input type="text" class="form-control" id="Input1" placeholder="姓名">
            </div>
        </div>
        <div class="form-group">
            <label>性别</label>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"> 男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"> 女
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="Input2" placeholder="身份证号">
        </div>

        <div class="form-group">
            <label for="Input3">基本情况</label>
            <input type="text" class="form-control" id="Input3">
        </div>
        <div class="form-group">
            <label for="Input4">测量部位</label>
            <input type="text" class="form-control" id="Input4">
        </div>
        <div class="form-group">
            <label for="Input5">测量方法</label>
            <input type="text" class="form-control" id="Input5">
        </div>
        <div class="form-group">
            <label for="Input6">测量日期</label>
            <input type="text" class="form-control" id="Input6">
        </div>

        <div class="form-group">
            <label for="InputFile">上传文件</label>
            <input type="file" id="InputFile">
            <p class="help-block">包括STL文件、照片和描述文件的压缩包</p>
        </div>
        <div class="btn-div">
            <button type="button" class="btn btn-default" id="btn-submit">确认</button>
            <button type="reset" class="btn btn-default">重置</button>
            <button type="submit" class="btn btn-default">取消</button>
        </div>
    </form>
</div>
{% end %}