<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BodyScan</title>
    <script src="{{static_url('js/jquery-3.3.1.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('css/bootstrap.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('css/bootstrap-theme.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('css/base.css')}}" type="text/css" />
    {% block head %}{% end %}
    <script src="{{static_url('js/bootstrap.js')}}"></script>
    <script src="{{static_url('js/base.js')}}"></script>
    <script type="text/javascript" src="{{static_url('common/js/template.js')}}"></script>

</head>
<body>
<div class="div-container">
    <div class="div-top">
        <div class="topic-div">
            {% block ul %}
            <ul>
                <li class="topic topic-focus"><a href="/admin">首页</a></li>
                <li class="topic"><a href="/common/profile">个人中心</a></li>
                <li class="topic"><a href="/admin?action=add_record">新建数据</a></li>
                <li class="topic"><a href="/operator">操作员页面</a></li>
                <li class="topic"><a href="/super?action=manage_data">数据管理</a></li>
            </ul>
            {% end %}
            <div class="image-div">
                <img class="top-image" id="logoImg">
                <span class="image-span">▼</span>
            </div>
            <div class="nav-my-hidden" id="nav-my-hidden">
                <ul>
                    <li><a href="/common/profile">个人中心</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="div-center">
    {% block div %}{% end %}
</div>

</body>
</html>