{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{static_url('css/admin.css')}}" type="text/css" />
<script type="text/javascript" src="{{static_url('common/js/jquery-fastclick-lazyload-template.js')}}"></script>
<script src="{{static_url('js/admin.js')}}"></script>
<script src="{{static_url('datePicker/WdatePicker.js')}}"></script>
{% end %}
{% block div %}
<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li><a href="/admin" class="breadcrumb-back">首页</a></li>
        <li><span>修改数据</span></li>
    </ol>
</div>
<div class="form-div">
    <div class="table-background">
        <div class="table-inner">
            <table id="upload-table">
                <colgroup>
                    <col width="14%">
                    <col width="86%">
                </colgroup>

                <thead class="coupon-tb">
                <tr>
                    <td><p class="table-title"><span>测量对象</span></p></td>
                </tr>
                <tr>

                    <td class="ver-top"><span class="ver-5">姓名</span></td>
                    <td><input type="text" class="mr10 get_rule" id="Input1" value="{{data_dict['patient_name']}}"></td>
                </tr>
                <tr class="activity-type ">
                    <td class="ver-top"><span class="ver-5">性别</span></td>
                    <td class="radio-list visible-choose">
                        <a href="javascript:;"  {% if data_dict["sex"] == 1 %} class="radio radio-active table-radio"{% else %} class="radio table-radio" {% end %} data-id="1"></a><span>男</span>
                        <a href="javascript:;"  {% if data_dict["sex"] == 2 %} class="radio radio-active table-radio"{% else %} class="radio table-radio" {% end %} data-id="2"></a><span>女</span>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">身份证号</span></td>
                    <td><input type="text" class="mr10 get_rule" id="Input2" value="{{data_dict['id']}}"></td>
                </tr>
                <tr>
                    <td>
                        <p class="table-title"><span>测量情况</span></p>
                    </td>
                </tr>

                <tr>

                    <td class="ver-top"><span class="ver-5">基本概述</span></td>
                    <td><input type="text" class="mr10 get_rule" id="Input3" value="{{data_dict['describe']}}"></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">测量部位</span></td>
                    <td><input type="text" class="mr10 get_rule" id="Input4" value="{{data_dict['measuring_position']}}"></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">测量方法</span></td>
                    <td><input type="text" class="mr10 get_rule" id="Input5" value="{{data_dict['measuring_method']}}"></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">测量日期</span></td>
                    <td>
                        <div class="">
                            <input type="text" class="Wdate from_get_date" id="date" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  value="{{data_dict['measuring_date']}}">
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody class="coupon1" data-id="0">
                <tr class="input-file">
                    <td class="ver-top"><span class="ver-5">上传文件</span></td>
                    <td>
                        <input type="file" id="InputFile">
                        <p class="help-block">包括STL文件、照片和描述文件的压缩包</p>
                    </td>

                </tr>
                </tbody>
            </table>
            <div class="fixed-btn">
                <div class="wrap-pop-btn wrap-edit-item">
                    <a href="javascript:;" class="ok-btn ok-coupon" data-flag="on"  id="edit-submit">确定</a>
                    <a href="/admin" class="cancel-btn cancel-edit-goods">取消</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% end %}