{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/admin.css')}}" type="text/css" />
<script type="text/javascript" src="{{static_url('common/js/jquery-fastclick-lazyload-template.js')}}"></script>
<script src="{{static_url('js/admin.js')}}"></script>
{% end %}

{% block div %}
<div class="data-div">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-tabs-li active" value="-1"><a>全部</a></li>
        <li class="nav-tabs-li" value="0"><a>未领取</a></li>
        <li class="nav-tabs-li" value="1"><a>处理中</a></li>
        <li class="nav-tabs-li" value="2"><a>待确认</a></li>
        <li class="nav-tabs-li" value="3"><a>已处理</a></li>
    </ul>
    <div class="div-form">
        <table class="table table-striped">
            <thead>
            <tr>
                <td style="width: 180px">编号</td>
                <td style="width: 200px">病人姓名</td>
                <td style="width: 200px">状态</td>
                <td style="width: 200px">操作</td>
            </tr>
            </thead>
            <tbody class="data_list">

            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                <a class="add-btn" href="/admin?action=add_record" id="upload-btn">+ 新建数据</a>
                <li class="next"><a href="#">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
</div>
{% end %}