a,a:hover,a:visited,a:link,a:active{
    cursor: pointer;
    text-decoration:none;
    /*color: #333;*/
}
body{
    background-color: #f6f6f6;
}
ul,li,ol{list-style:none;}
ul{padding-left:0;}
.div-container{
    height: 51px;
    border-bottom: 1px solid #b9bdb9;
    background-color: white;
 }
.div-top{
    top: 0;
    display: block;
    background-color: #337ab7;

}
.div-body{
    background-color: #f9f9f9;
}
.div-center{
    margin-left:auto;
    margin-right: auto;
    width: 1100px;
    margin-top: 30px;
    background-color: white;
    display: block;
}
.topic{
    float: left;
    width:100px;
    text-align: center;
    list-style-type:none;
    height: 48px;
    font-size: 16px;
    line-height: 52px;
    border-bottom: 3px solid #337ab7;
    cursor: pointer;

}
.topic a{
    width: 100px;
    height: 48px;
    display: block;
    color: #d2d2d2;
}
.topic-div{
    height: 50px;
    width: 1100px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #337ab7;
    position: relative;
}
.topic-focus,.topic:hover{
    border-color: white;
}
.topic-focus a,.topic a:hover{
    color: white !important;
}
.top-image{
    border-radius:50%;
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 5px;

}
.image-div{
    float: right;
    height: 50px;
    width: 80px;
    padding-left: 10px;
}
.nav-my-hidden{
    z-index: 10001;
    position: absolute;
    padding: 8px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #EEE;
    background: #FFF;
    top: 51px;
    right: 0;
    width: 80px;
    color: #6C6C6C;
    line-height: 28px;
    display: none;
}
.image-span{
    color: white;
    font-size: 18px;
    float: left;
    line-height: 50px;
    padding-left: 5px;
}