ul,li,ol{list-style:none;}
ul{padding-left:0;}
/*分页样式*/
.list-pagination{width:100%;margin-bottom:10px;}
.list-pagination ul{float:right;margin-right:20px;}
.list-pagination li{float:left;margin-left:5px;line-height:28px;}
.list-pagination .page-btn{display:inline-block;width:26px;height:26px;border:1px solid #ccc;border-radius:1px;background:url("../images/container-icon.gif") no-repeat;}
.list-pagination .pre-page{background-position:-34px -207px;}
.list-pagination .pre-page:hover{background-color:#f2f2f2;}
.list-pagination .pre-page:foucus{background-color:#f2f2f2;}
.list-pagination .next-page{background-position:-58px -214px;}
.list-pagination .next-page:hover{background-color:#f2f2f2;}
.list-pagination .next-page:foucus{background-color:#f2f2f2;}
.list-pagination .input-page{width:84px;height:26px;border:1px solid #ccc;border-radius:1px;color:#999;text-align:center;}
.list-pagination .jump-to{display:inline-block;width:60px;height:26px;border:1px solid #ccc;border-radius:1px;text-align:center;color:#666;line-height:26px;}


.zb-tip{
    width: 80%;
    max-width:600px;
    position: fixed;
    left: 50%;
    top: 0;
    -webkit-transform:translate(-50%,0);
    z-index:10000;
    color: #fff;
    border-radius: 10px;
    padding: 10px 8px;
    text-align: center;
    font-size: 16px;
    line-height:26px;
    background-color: rgba(255,105,105,.8);
}
