a{
    cursor: pointer;
}
.colDefault{
    font-size:6px;
}
.title{
    font-size:30px;
    font-weight:500;
}
.nav-tabs-li{
    cursor: pointer;
}
.navbar-top{
    margin-bottom: 0;
}
.box-admin-right{
    margin-left: 700px;
}

.form-div{
    margin-top: 20px;
}
.form-float{
    float: left;
    width: 400px;
    margin-right: 100px;
}
.radio-inline{
    font-size: 18px;
    width: 30px;
    height: 30px;
}
.btn-div{
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}
.btn{
    float: left;
    margin-right: 10px;
}
.form-me{
    margin-top: 20px;
}
.zb-tip{
    width: 80%;
    max-width:600px;
    position: fixed;
    left: 50%;
    top: 0;
    -webkit-transform:translate(-50%,0);
    z-index:10000;
    color: #fff;
    border-radius: 10px;
    padding: 10px 8px;
    text-align: center;
    font-size: 16px;
    line-height:26px;
    background-color: rgba(255,105,105,.8);
}