<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BodyScan</title>
    <link rel="stylesheet" href="{{static_url('css/bootstrap.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('css/bootstrap-theme.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('css/operator.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('css/pagination.css')}}"/>
    <script type="text/javascript" src="{{static_url('common/js/jquery-fastclick-lazyload-template.js')}}"></script>
    <script src="{{static_url('js/jquery-3.3.1.js')}}"></script>
    <script src="{{static_url('js/bootstrap.js')}}"></script>
    <script src="{{static_url('js/operator.js')}}"></script>
</head>
<body>
<div class="div-container">
    <div class="div-top">
        <div class="topic-div">
            <ul>
                <li class="topic topic-focus"><a href="/admin">首页</a></li>
                <li class="topic"><a href="/common/profile">个人中心</a></li>
            </ul>
            <a class="add-btn" href="/admin">管理员页面</a>
            <image class="top-image" src="../../../static/images/me.jpg"></image>
        </div>
    </div>
</div>
<div class="div-center">
    <div class="data-div">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-tabs-li active nav-tabs-admin" value="0"><a>未分配</a></li>
            <li class="nav-tabs-li nav-tabs-operator" value="1"><a>处理中</a></li>
            <li class="nav-tabs-li nav-tabs-operator" value="2"><a>待确认</a></li>
            <li class="nav-tabs-li nav-tabs-operator" value="3"><a>已处理</a></li>
        </ul>
        <div class="div-form">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td style="width: 150px">编号</td>
                    <td style="width: 200px">上传机构</td>
                    <td style="width: 200px">案例描述</td>
                    <td style="width: 180px">状态</td>
                    <td style="width: 200px">操作</td>
                </tr>
                </thead>
                <tbody class="data_list">

                </tbody>
            </table>
            <div class="users-pagination list-pagination group mt10">
                <ul>
                    <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
                    <li>
                        <span class="page-now">1</span>/<span class="page_sum">1</span>
                    </li>
                    <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
                    <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
                    <li><a href="javascript:;" class="jump-to">跳转</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="upload-div">
    <div class="form-group">
        <label for="InputFile">上传文件</label>
        <input type="file" id="InputFile">
    </div>
    <div class="btn-div">
        <button type="button" class="btn btn-default" id="btn-submit">确认</button>
        <button type="submit" class="btn btn-default" id="btn-cancel">取消</button>
    </div>
</div>
</body>
</html>