{% extends '../admin/admin_base.html' %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/profile.css')}}" type="text/css" />
<script src="{{static_url('js/profile.js')}}"></script>
{% end %}

{% block ul %}
<ul>
    <li class="topic"><a href="/admin">首页</a></li>
    <li class="topic topic-focus"><a href="/common/profile">个人中心</a></li>
</ul>
{% end %}

{% block div %}

<div class="background">
    <div class="subnav-box left-align-line">
        <ul class="subnav group">
            <li class="active" id="infoSet"><a href="/common/profile">信息设置</a></li>
            <li class=""><a>账号设置</a></li>
        </ul>
    </div>
    <ul class="info-set-list mt20 font14">
        <li class="item clearfix">
            <span class="w1 pull-left set-inl-blo">真实姓名</span>
            <div class="w2 pull-left">
                <span class="info_show name realname">{{ data_dict['realname']}}</span>
                <input class="info_hide shop_name" type="text" style="display:none" id="Me-Input1">
            </div>
            <div class="pull-right">
                <a class="info_edit" href="javascript:;">修改</a>
                <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
            </div>
        </li>
        <li class="item clearfix">
            <span class="w1 pull-left set-inl-blo">身份证号</span>
            <div class="w2 pull-left">
                <span class="info_show name id_number">xxxxxx19980604xxxx</span>
                <input class="info_hide shop_name" type="text" value="xxxxxx19980604xxxx" style="display:none" id="Me-Input2">
            </div>
            <div class="pull-right">
                <a class="info_edit" href="javascript:;">修改</a>
                <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
            </div>
        </li>
        <li class="item clearfix">
            <span class="w1 pull-left set-inl-blo">所处机构</span>
            <div class="w2 pull-left">
                <span class="info_show name organization">华中科技大学</span>
                <input class="info_hide shop_name" type="text" value="华中科技大学" style="display:none" id="Me-Input3">
            </div>
            <div class="pull-right">
                <a class="info_edit" href="javascript:;">修改</a>
                <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
            </div>
        </li>
        <li class="item clearfix">
            <span class="w1 pull-left set-inl-blo ">工作邮箱</span>
            <div class="w2 pull-left">
                <span class="info_show name email">945159252@qq.com</span>
                <input class="info_hide shop_name" type="text" value="945159252@qq.com" style="display:none" id="Me-Input4">
            </div>
            <div class="pull-right">
                <a class="info_edit" href="javascript:;">修改</a>
                <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
            </div>
        </li>
        <li class="item clearfix">
            <span class="w1 pull-left set-inl-blo">电话号码</span>
            <div class="w2 pull-left">
                <span class="info_show name phone">15827705529</span>
                <input class="info_hide shop_name" type="text" value="15827705529" style="display:none" id="Me-Input5">
            </div>
            <div class="pull-right">
                <a class="info_edit" href="javascript:;">修改</a>
                <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
            </div>
        </li>
        <li class="item clearfix">
            <span class="w1 pull-left set-inl-blo">微信</span>
            <div class="w2 pull-left">
                <span class="info_show name wx_number">zqjloven</span>
                <input class="info_hide shop_name" type="text" value="zqjloven" style="display:none" id="Me-Input6">
            </div>
            <div class="pull-right">
                <a class="info_edit" href="javascript:;">修改</a>
                <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
            </div>
        </li>
        <li class="item clearfix">
            <span class="w1 pull-left set-inl-blo">QQ</span>
            <div class="w2 pull-left">
                <span class="info_show name qq_number">945159252</span>
                <input class="info_hide shop_name" type="text" value="945159252" style="display:none" id="Me-Input7">
            </div>
            <div class="pull-right">
                <a class="info_edit" href="javascript:;">修改</a>
                <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
            </div>
        </li>
        <li class="item clearfix">
            <span class="w1 pull-left set-inl-blo">个人签名</span>
            <div class="w2 pull-left">
                <span class="info_show name signature">欲戴其冠先承其重</span>
                <input class="info_hide shop_name" type="text" value="欲戴其冠先承其重" style="display:none" id="Me-Input8">
            </div>
            <div class="pull-right">
                <a class="info_edit" href="javascript:;">修改</a>
                <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
            </div>
        </li>
        <li class="item clearfix" id="upload-area" style="position: relative;">
            <span class="w1 pull-left set-inl-blo">个人头像</span>
            <div class="w2 pull-left logo-box" id="upload-picture" style="z-index: 1;">
                <input type="file" class="file-btn" accept="image/*" id="InputPic"/>
                <img id="logoImg">
                <span class="title set-inl-blo text-white text-center">点击图片修改</span>
            </div>
            <span style="clear:both"></span>
        </li>


    </ul>
</div>

{% end %}