{% extends '../admin/base.html' %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/profile.css')}}" type="text/css" />
<script src="{{static_url('js/profile.js')}}"></script>
{% end %}

{% block ul %}
<ul>
    <li class="topic"><a href="/admin">首页</a></li>
    <li class="topic topic-focus"><a href="/common/profile">个人中心</a></li>
</ul>
{% end %}

{% block div %}
<div class="form-me" id="form-me">
    <form>
        <div class="form-float">
            <div class="form-group">
                <label for="Me-Input1">真实姓名</label>
                <input type="text" class="form-control" id="Me-Input1" placeholder="姓名" value="{{ data_dict['realname']}}">
            </div>
        </div>
        <div class="form-float">
            <label>性别</label>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option"> 男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option"> 女
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="Me-Input2" placeholder="身份证号">
        </div>

        <div class="form-group">
            <label for="Me-Input3">所处机构</label>
            <input type="text" class="form-control" id="Me-Input3">
        </div>
        <div class="form-group">
            <label>个人签名</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="InputPic">上传头像</label>
            <input type="file" id="InputPic" accept="image/*">
            <p class="help-block">包括STL文件、照片和描述文件的压缩包</p>
        </div>
        <div class="btn-div">
            <button type="button" class="btn btn-default" id="btn-submit-me">确认</button>
            <button type="reset" class="btn btn-default">重置</button>
            <button type="submit" class="btn btn-default">取消</button>
        </div>
    </form>
</div>
{% end %}